<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.bandsongbook_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Create_Group"
            android:label="@string/title_activity_create__group"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Group_Details"
            android:label="@string/details"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".Play"
            android:label="@string/Song"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>